
.home1{
  font-size: 30px;
  font-weight: 400px;
  padding-top: 30px;
  color: rgb(162, 31, 227);
}
.intro{
  font-size:40px;
  margin-top: 50px;
  
}
#b{
    font-size: 28px;
    text-transform:capitalize ;
}
.htmlpic{

  height:60%;
  width: 90%;
  margin-top: 100px;
  border-radius:50%;
  border:3px solid  rgb(162, 31, 227);
  box-shadow: 0px 0px 5px 5px  rgb(69, 68, 69);
  transition: 2s;
}
.htmlpic:hover{

  transform: rotateY(160deg);
  transition: 3s;

}
.htmlp{
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
  text-align: justify;
  padding: 25px;
  border: 2px solid rgb(162, 31, 227);
  box-shadow: 0px 0px 5px 5px  rgb(69, 68, 69);
  border-radius: 20px;
}


.download_info{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}
.rotate{
  /* transform: rotateZ(150deg); */
}
.firstpic{
  height: 450px;
  width: 100%;
  border-radius: 330px 35px 10px 5px;
  transition: 0.3s;
  border: 2px solid  rgb(162, 31, 227);
  box-shadow: 0px 0px 5px 5px  rgb(69, 68, 69);

}
.firstpic:hover{
  /* transform: rotateY(200deg); */
  transition: 0.3s;
  /* border-radius:  35px 330px 10px 5px; */
  margin-top: -45px;
}


#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:block;
  color:white;
  background-color: rgb(162, 31, 227);
}

body{
  scroll-behavior: smooth;
}

.footer1{
  font-size: 60px;
  color: rgb(162, 31, 227);
 padding: 30px;
}
.footerul li{
  display:inline-block;
  color: aliceblue; 
  padding:20px ;
  border-right: 2px  solid rgb(162, 31, 227);
}
 

.footerul li:hover{
  border-top: 2px solid rgb(162, 31, 227);
  color: rgb(162, 31, 227);
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}



 /* media query includeing */

 @media screen and (max-width: 1119px) {

  .intro{
    font-size:35px;
  }

 }
 /* media query includeing */

 @media screen and (max-width: 1110px) {

  .intro{
    font-size:35px;
  }

 }
 /* media query includeing */

 @media screen and (max-width: 1006px) {

  .intro{
    font-size:30px;
  }

 }
 /* media query includeing */

 @media screen and (max-width: 895px) {

  .intro{
    font-size:27px;
  }
  .col-sm-1 a{
    font-size: 8px;
  }

 }

 @media screen and (max-width: 895px) {

  .intro{
    font-size:22px;
  }
  #b{
    font-size: 25px
  }

 }


 @media screen and (max-width: 757px) {

  #b{
    font-size: 22px
  }

 }

 @media screen and (max-width: 757px) {

  #b{
    font-size: 18px
  }
  .intro{
    font-size:18px;
  }
  .firstpic{
    height: 300px;
  }
 }
 @media screen and (max-width: 635px) {

  #b{
    font-size: 15px
  }
  .intro{
    font-size:15px;
  }
 }
 @media screen and (max-width: 576px) {

  .col-sm-1{
    display:none;
  }
  .intro{
    font-size:25px;
  }

  #b{
    font-size: 25px
  }

 }


 @media screen and (min-width: 576px) {

  .notesclose{
    display: none;
  }
  

 }

 @media screen and (max-width: 576px) {

  .stiky{
    position: sticky;
    top: 0;
  }

 }
 @media screen and (max-width: 576px) {

  

 }